:root {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(226, 43%, 10%);
  color: white;
  animation: 1s linear 0.1s scaleAnimation;
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
h2 {
  font-size: 1rem;
}

.tracker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-width: 70%;
  max-width: 80%;
  margin: auto 10%;
}
.tracker__profile-container {
  grid-row: 1/3;
  border-radius: 1rem;
  background-color: hsl(235, 46%, 20%);
}
.tracker__profile {
  border-radius: 1rem;
  padding: 1rem;
  background-color: hsl(246, 80%, 60%);
}
.tracker__profile-img {
  width: 50px;
  padding-bottom: 1rem;
}
.tracker__profile-img > img {
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
}
.tracker__profile-title {
  padding-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
  word-break: break-all;
}
.tracker__profile-title .report {
  display: block;
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  font-weight: 300;
}
.tracker__profile-title .break-title {
  display: block;
}
.tracker__status {
  padding: 1rem;
}
.tracker__status-item {
  padding-bottom: 1rem;
}
.tracker__status-btn {
  transition: all 0.4s ease-in-out;
  display: block;
  background: transparent;
  border: none;
  color: hsl(235, 45%, 61%);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}
.tracker__status-btn:hover {
  color: white;
}
.tracker__status-btn .active {
  color: white;
}
.tracker__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.tracker__card .tracker__card-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
}
.tracker__card-icon-work {
  background-color: hsl(15, 100%, 70%);
}
.tracker__card-icon-play {
  background-color: hsl(195, 74%, 62%);
}
.tracker__card-icon-study {
  background-color: hsl(348, 100%, 68%);
}
.tracker__card-icon-exercise {
  background-color: hsl(145, 58%, 55%);
}
.tracker__card-icon-social {
  background-color: hsl(264, 64%, 52%);
}
.tracker__card-icon-self-care {
  background-color: hsl(43, 84%, 65%);
}
.tracker__card > img {
  position: absolute;
  width: 60px;
  top: -0.3rem;
  right: 1rem;
}
.tracker__card-content {
  transition: all 0.4s ease-in-out;
  z-index: 1;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: hsl(235, 46%, 20%);
}
.tracker__card-content:hover {
  cursor: pointer;
}
.tracker__card-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}
.tracker__card-content-flex h2 {
  font-size: 1rem;
  font-weight: 500;
}
.tracker__card-ellipsis:hover {
  cursor: pointer;
}
.tracker__card-ellipsis:hover > img:hover {
  color: white;
}
.tracker__card-current {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.tracker__card-previous {
  font-size: 0.8rem;
  color: hsl(236, 100%, 87%);
}

@media (max-width: 1000px) {
  .tracker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: 5rem auto;
  }
  .tracker__profile-container {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .tracker__profile {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
  }
  .tracker__profile-img {
    width: 70px;
    padding-bottom: 0;
  }
  .tracker__profile-title {
    padding-left: 1rem;
    padding-bottom: 0;
    font-size: 1.5rem;
  }
  .tracker__profile-title .break-title {
    display: inline;
  }
  .tracker__status {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .tracker__status-item {
    padding-bottom: 0;
  }
}
@media (max-width: 700px) {
  .tracker {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 100%;
    margin: 5rem 0;
  }
  .tracker__profile-container {
    grid-column: 1/2;
  }
  .tracker__card-content {
    padding: 1rem 1.5rem;
  }
  .tracker__card-content-flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  .tracker__card-current {
    font-size: 2rem;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */